$color-bg: #8f522b;
$color-text: #e8f2ff;
$color-shadow:#8f522b;
$color:#e8f0fa;


$color-bg-clear: #e8f0fa;
$color-text-clear: #8f522b;

$color-text-init:#387959;

$box-shadow: 2px 2px 2px 2px $color-bg-clear;
 





