

$small-screen: 375px;
$medium-screen:794.5px;
$grand-screen:1440px;


@mixin small-screen {
  @media screen and (min-width: $small-screen) {
    @content;
  }
}
@mixin medium-screen {
  @media screen and (min-width: $small-screen )and (max-width: $medium-screen) {
    @content;

  }
}
@mixin large-screen {
  @media screen and (min-width: $medium-screen  )  {
    @content;
  }
}
@mixin gran-screen{
  @media screen and (min-width: $grand-screen  )  {
    @content;
  }
}
