body {
    text-align: center;
    background-color: rgba(39, 66, 82, 0.978);
    margin-bottom: 100px;
}

h1 {
    font-size: 4rem;
    color: white;
    margin: 25px auto;
    text-shadow: white 2px 2px 10px;
}
.site {
    font-size: 4rem;
    color: #0b3e5b;
    margin: 25px auto;
    text-shadow: white 2px 2px 10px;
}

.titre {
    color: #2d69ae;
}

.form-control {
    background-color: white;
    width: 300px;
    font-size: 1.5rem;
}
.card {
    width: 220px;
    height: max-content;
    background-color: #637685;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 1px white;
}
.card_contact {
    width: 220px;
    height: 220px;
    background-color: #47647b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 1px white;
}
.card_contact a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.card img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 10px 1px white;
}
.infos-animal {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    background-color: rgb(17, 87, 114);
    padding: 20px;
}
.container_message {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 87, 114);
    margin: 50px auto;
}
.actions {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.btn {
    background-color: rgb(53, 66, 84);
    color: white;
    box-shadow: 2px 2px 10px 1px #f9faf9;
}
form {
    width: 100%;
}

.form-label {
    font-size: 1.5rem;
    width: 150px;

    margin-left: 0;
}

.mt-5 {
    font-size: 1rem;
    background-color: rgb(53, 66, 84);
    width: 50%;
    height: max-content;
    font-size: 1rem;
    margin: auto;

    justify-content: space-around;
    color: white;
    box-shadow: 2px 2px 10px 1px white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mb-3 {
    display: flex;
    margin: auto 5%;
}
.mb-3 label {
    font-size: 1rem;
}

.form-select {
    background-color: rgb(70, 117, 146);
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-control {
    width: 80%;
    font-size: 1.5rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 12px;
}

.form-check {
    background-color: rgb(70, 117, 146);
    color: white;
}

.entete {
    background-color: #0f6cad;
}

.nav-extand {
    width: 100%;
}

.nav-link {
    color: #045b83;
}
.nav-link_auth {
    color: white;
}

.nav-item a:hover {
    background-color: #194a5a;
    color: white;
    box-shadow: rgb(24, 122, 168) 2px 2px 10px;
}
.nav .container {
    background-color: #7ea0c3;
    height: 150%;
}
.nav-item_auth {
    margin-left: 150px;
    background-color: #194a5a;
    color: white;
    box-shadow: rgb(24, 122, 168) 2px 2px 10px;
    padding: 5px 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

.text {
    color: white;
    font-size: 1.2rem;
    width: 200px;
    margin-left: 50px;
}

.content {
    text-align: center;
    font-size: 1.5rem;
    background-color: white;
    width: 400px;
    margin-left: 50px;
}

.message {
    text-align: left;
    background-color: white;
    font-size: 1.5rem;
    width: 600px;
    height: 300px;
    padding: 15px 15px;
    color: rgb(17, 56, 93);
}

#myBtn {
    margin-bottom: 80px;
    background-color: #1674aa;
    padding: 0;
}
#myBtn:hover {
    background-color: #0b3e5b;
}
h3 {
    font-size: 2rem;
    color: white;
    margin: 25px auto;
    text-shadow: rgb(255, 255, 255) 2px 2px 10px;
}
